{% extends "base.twig" %}

{% block content %}
<h2>General actions</h2>
<ul>
    <li><a href="?cache-flush=templates">Flush cache templates</a></li>
    <li><a href="?cache-flush=raw">Flush cache raw</a></li>
    <li><a href="?delete_all_inactive_users">Delete all inactive users</a></li>
</ul>


<h2>Other</h2>
<ul>
    <li><a href="http://www.martin-thoma.de/write-math/stats/">Symbol stats</a></li>
</ul>


{% if flags|length > 0 %}
<h2>Flags</h2>
<ul>
    {% for flag in flags %}
        <li><a href="?delete={{ flag.id }}"><img src="../icons/cross.png" alt="delete" /></a> - 
          <a href="../view/?raw_data_id={{ flag.raw_data_id }}">{{ flag.raw_data_id }}</a> 
            by <a href="../user/?id={{ flag.user_id }}">{{ flag.display_name }}</a>
        </li>
    {% endfor %}
</ul>
{% endif %}

<h2>Many lines</h2>
{% if many_lines|length > 0 %}
<ul>
    {% for recording in many_lines %}
        <li>Lines: <a href="../view/?raw_data_id={{ recording.id }}">{{ recording.lines }}</a></li>
    {% endfor %}
</ul>
{% else %}
    <p class="bg-danger"><a href="?many_lines">Show all recordings with at least 5 strokes.</a></p>
{% endif %}

<h2>Merge Accounts</h2>
<form role="form" method="get">
  <div class="form-group">
    <label for="accountA">Account A (gets deleted)</label>
    <input type="text" class="form-control"
           id="accountA" name="accountA" placeholder="91">
  </div>
  <div class="form-group">
    <label for="accountB">Account B (remains)</label>
    <input type="text" class="form-control"
           id="accountB" name="accountB" placeholder="10">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% if accountA != '' %}
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Account A</th>
            <th>Account B</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{ accountA.id }}</td>
            <td>{{ accountB.id }}</td>
        </tr>
        <tr>
            <td>Account Type</td>
            <td>{{ accountA.account_type }}</td>
            <td>{{ accountB.account_type }}</td>
        </tr>
        <tr>
            <td>Display Name</td>
            <td>{{ accountA.display_name }}</td>
            <td>{{ accountB.display_name }}</td>
        </tr>
    </table>
    <p>Merge account A (gets deleted) to account B (remains).</p>
    <p><a href="?accountA={{ accountA.id }}&accountB={{ accountB.id }}&confirm=true">Do it!</a> ATTENTION! You cannot undo this step!</p>
{% endif %}

{% if inactive_users|length > 0 %}
<h2>Inactive Users</h2>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Display name</th>
    </tr>
    {% for user in inactive_users %}
        <tr>
            <td>{{ loop.index }} 
                <a href="?delete_inactive_user={{ user.id }}"><img src="../icons/cross.png" alt="delete" /></a>
            </td>
            <td><a href="../user/?id={{ user.id }}">{{ user.display_name }}</a></td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if without_unicode|length > 0 %}
<h2>without_unicode ({{ without_unicode|length }})</h2>
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>formula_name</th>
    </tr>
    {% for symbol in without_unicode %}
        <tr>
            <td>{{ loop.index }} 
                <a href="../symbol/?id={{ symbol.id }}&edit"><img src="../icons/pencil.png" alt="delete" /> &#{{ symbol.unicode_dec }};</a>
            </td>
            <td><a href="../symbol/?id={{ symbol.id }}&edit">{{ symbol.formula_name }}</a></td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}