{% extends "base.twig" %}

{% block header %}
    {% include 'recordingjs.twig' %}
{% endblock %}

{% block content %}
    <!-- Train a single formula, but not part of a challenge -->
    <form method="post" action="?formula_id={{ formula_id }}{% if random_mode%}&rand{% endif %}" onsubmit="return addCanvas();" id="form">
    <input type="hidden" name="formula_id" value="{{ formula_id }}"/>
    <input type="hidden" id="drawnJSON" name="drawnJSON" value="" />
    <div class="row-fluid">
        <div class="span6 pull-left panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Draw here
            <button type="submit" class="btn btn-success">Submit</button>
            <a href="?formula_id={{ formula_id }}{% if random_mode%}&rand{% endif %}" class="btn btn-danger">Clear</a></h3>
          </div>
          <div class="panel-body">
            <canvas id="sheet" width="400" height="400" style="border:1px solid black;width:400px;height:400px;"></canvas>
          </div>
        </div>

        <div class="span6 pull-right panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Draw '{{ formula_name }}'
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Report problem <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="?missing_formula_id={{ formula_id }}{% if random_mode%}&rand{% endif %}" accesskey="m" alt="Alt+m">Rendering is missing</a></li>
                <li><a href="?wrong_rendering_id={{ formula_id }}{% if random_mode%}&rand{% endif %}" accesskey="u" alt="Alt+w">Rendering looks wrong</a></li>
                <li><a href="?unknown_formula_id={{ formula_id }}{% if random_mode%}&rand{% endif %}" accesskey="u" alt="Alt+u">I never needed this formula</a></li>
              </ul>
            </div>
            </h3>
          </div>
          <div class="panel-body">
            <img src="../api/?task=view-formula&id={{ formula_id }}" width="400" style="width:400px;height:400px;" />
          </div>
        </div>
    </div>
    </form>


    <script type='text/javascript'>
        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;

        width *= 0.8;
        height *= 0.8;

        if (width > 400) {
            width = 400;
        }

        if (height > 400) {
            height = 400;
        }

        var canvas = document.getElementById("sheet");
        var image = document.getElementById("imgid");
        console.log(width);
        canvas.width = width;
        canvas.height = height;
        image.width = width;
        image.height = height;
    </script>
{% endblock %}