{% extends "base.twig" %}
{% import "pagination.twig" as pagination %}

{% block content %}
    <ul class="nav nav-tabs">
      <li {% if tab == 'my_raw_data' %}class="active"{% endif %}><a href="../gallery">My raw data</a></li>
      <li {% if tab == 'unclassified' %}class="active"{% endif %}><a href="../gallery?tab=unclassified">Unclassified</a></li>
      <li {% if tab == 'all' %}class="active"{% endif %}><a href="../gallery?tab=all">All raw data</a></li>
    </ul>

   <ul class="gallery mw-gallery-traditional">
    {% for image in userimages %}
     <li class="gallerybox" style="width: 155px">
       <div style="width: 155px">
         <div class="thumb" style="width: 150px;">
           <div style="margin:21px auto;">
             <a href="../view?raw_data_id={{ image.id }}"><img src="../raw-data/{{ image.id }}.svg" style="width:140px;height:140px;"/></a>
           </div>
         </div>
         <div class="gallerytext"><a href="../view?raw_data_id={{ image.id }}">{{ image.creation_date }}</a></div>
       </div>
     </li>
    {% endfor %}
   </ul>

{{ pagination.pagination(currentPage, '&tab=' ~ tab, total, pages, 5) }}

{% endblock %}