{% extends "base.twig" %}

{% block header %}
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>

 <script type='text/javascript'>
     window.onload=function(){
 {% for image in userimages %}
    var canvas = new fabric.Canvas('galleryImage{{ loop.index }}');
    var group = new fabric.Group();
    canvas.add(group);

    var path = new fabric.Path('{{ image.path}}');
    path.set({fill: 'transparent', stroke: 'red', strokeWidth: 3});
    path.scale(Math.min(canvas.height / path.height, 
                                canvas.width  / path.width));
    canvas.add(path);
    canvas.renderAll();
    path.center();
    /* Make sure that touch events do nothing */
    canvas.deactivateAll();
    canvas.selection = false;
    canvas.forEachObject(function(o) {
        o.selectable = false;
    });
 {% endfor %}
}
 </script>
{% endblock %}

{% block content %}
<div class="container-fluid well span6">
  <div class="row-fluid">
        <div class="span2" >
          <img src="{{ gravatar }}?s=140&r=g&d=mm" class="img-circle">
        </div>
        
        <div class="span8">
            <form action="" method="post" role="form">
              <div class="form-group">
                <label for="display_name" class="col-sm-2 control-label">Display name</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="display_name"
                         name="display_name"
                         placeholder="John Smith"
                         value="{{ display_name }}" />
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email"
                         class="form-control"
                         id="email"
                         name="email"
                         placeholder="john.smith@yahoo.com"
                         value="{{ email }}" />
                </div>
              </div>

              <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control"
                         id="password" name="password"
                         pattern=".{6,60}" required
                         title="6 characters minimum"/>
                </div>
              </div>

              <div class="form-group">
                <label for="passwordconf" class="col-sm-2 control-label">Confirmation</label>
                <div class="col-sm-10">
                  <input type="password"
                         class="form-control"
                         id="passwordconf"
                         name="passwordconf" />
                </div>
              </div>

              <div class="form-group">
                <label for="language" class="col-sm-2 control-label">Language</label>
                <div class="col-sm-10">
                    <select class="form-control" name="language">
                        {% if language == NULL %}
                          <option selected="selected" value="NULL">Not set</option>
                        {% else %}
                          <option value="NULL">Not set</option>
                        {% endif %}
                        {% for lang in languages %}
                            {% if language == lang.language_code %}
                              <option value="{{ lang.language_code }}" selected="selected">{{ lang.english_language_name }}</option>
                            {% else %}
                              <option value="{{ lang.language_code }}">{{ lang.english_language_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
              </div>

              <div class="form-group">
                <label for="handedness" class="col-sm-2 control-label">Handedness</label>
                <div class="col-sm-10">
                    <select class="form-control" name="handedness">
                        {% if handedness == NULL %}
                          <option selected="selected" value="NULL">Not set</option>
                          <option value="l">left</option>
                          <option value="r">right</option>
                        {% elseif handedness == 'r' %}
                          <option value="NULL">Not set</option>
                          <option value="l">left</option>
                          <option value="r" selected="selected">right</option>
                        {% elseif handedness == 'l' %}
                          <option value="NULL">Not set</option>
                          <option value="l" selected="selected">left</option>
                          <option value="r">right</option>
                        {% endif %}
                    </select>
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
</div>
</div>


 <ul class="gallery mw-gallery-traditional">
  {% for image in userimages %}
   <li class="gallerybox" style="width: 155px">
     <div style="width: 155px">
       <div class="thumb" style="width: 150px;">
         <div style="margin:21px auto;">
           <a href="../view?raw_data_id={{ image.id }}"><canvas id="galleryImage{{ loop.index }}" class="gallerycanvas" width="140" height="140"></canvas></a>
         </div>
       </div>
       <div class="gallerytext"><a href="../view?raw_data_id={{ image.id }}">{{ image.creation_date }}</a></div>
     </div>
   </li>
  {% endfor %}
 </ul>

<ul class="pagination">
  {% if currentPage > 1 %}
      <li><a href="?page={{ currentPage-1 }}">&laquo;</a></li>
  {% else %}
      <li class="disabled"><a href="#">&laquo;</a></li>
  {% endif %}

  {% for i in 1..(pages+1) %}
    <li {% if i == currentPage %}class="active"{% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
  {% endfor %}

  {% if currentPage < total %}
      <li><a href="?page={{ currentPage+1 }}">&raquo;</a></li>
  {% else %}
      <li class="disabled"><a href="#">&raquo;</a></li>
  {% endif %}
</ul>
{% endblock %}