{% extends "base.twig" %}
{% import "pagination.twig" as pagination %}

{% block content %}
<div class="container-fluid well span6">
  <div class="row-fluid">
        <div class="span2" >
          <img src="{{ gravatar }}?s=140&r=g&d=mm" class="img-circle"><br/>
          <a href="http://gravatar.com">Change your image</a>
        </div>
        
        <div class="span8">
            <form action="" method="post" role="form">
              <div class="form-group">
                <label for="display_name" class="col-sm-2 control-label">Display name</label>
                <div class="col-sm-10">
                  <input type="text"
                         class="form-control"
                         id="display_name"
                         name="display_name"
                         placeholder="John Smith"
                         value="{{ display_name }}" />
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email"
                         class="form-control"
                         id="email"
                         name="email"
                         placeholder="john.smith@yahoo.com"
                         value="{{ email }}" />
                </div>
              </div>

              <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control"
                         id="password" name="password"
                         pattern=".{6,60}" required
                         title="6 characters minimum"/>
                </div>
              </div>

              <div class="form-group">
                <label for="passwordconf" class="col-sm-2 control-label">Confirmation</label>
                <div class="col-sm-10">
                  <input type="password"
                         class="form-control"
                         id="passwordconf"
                         name="passwordconf" />
                </div>
              </div>

              <div class="form-group">
                <label for="language" class="col-sm-2 control-label">Language</label>
                <div class="col-sm-10">
                    <select class="form-control" name="language">
                        {% if language == NULL %}
                          <option selected="selected" value="NULL">Not set</option>
                        {% else %}
                          <option value="NULL">Not set</option>
                        {% endif %}
                        {% for lang in languages %}
                            {% if language == lang.language_code %}
                              <option value="{{ lang.language_code }}" selected="selected">{{ lang.english_language_name }}</option>
                            {% else %}
                              <option value="{{ lang.language_code }}">{{ lang.english_language_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
              </div>

              <div class="form-group">
                <label for="handedness" class="col-sm-2 control-label">Handedness</label>
                <div class="col-sm-10">
                    <select class="form-control" name="handedness">
                        {% if handedness == NULL %}
                          <option selected="selected" value="NULL">Not set</option>
                          <option value="l">left</option>
                          <option value="r">right</option>
                        {% elseif handedness == 'r' %}
                          <option value="NULL">Not set</option>
                          <option value="l">left</option>
                          <option value="r" selected="selected">right</option>
                        {% elseif handedness == 'l' %}
                          <option value="NULL">Not set</option>
                          <option value="l" selected="selected">left</option>
                          <option value="r">right</option>
                        {% endif %}
                    </select>
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
</div>
</div>

<p><a href="?logout">Logout</a></p>

{% if userworkers|length > 0 %}
<h2>Workers</h2>
<table class="table">
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>API</th>
    <th>URL</th>
    <th>Description</th>
    <th>Latest Heartbeat</th>
    <th>Latest Classification</th>
  </tr>
  {% for worker in userworkers %}
  <tr>
    <td>
      <a href="?edit={{ worker.id }}"><img src="../icons/pencil.png" alt="edit" /></a>
      &nbsp;
      <a href="?delete={{ worker.id }}"><img src="../icons/cross.png" alt="delete" /></a>
      &nbsp;
      {% if worker.status == 'active' %}
      <a href="?deactivate={{ worker.id }}">deactivate</a>
      {% else %}
      <a href="?activate={{ worker.id }}">activate</a>
      {% endif %}
    </td>
    <td>{{ worker.worker_name }}</td>
    <td>{{ worker.API_key }}</td>
    <td>{{ worker.url }}</td>
    <td>{{ worker.description }}</td>
    <td>{% if worker.latest_heartbeat is null %}
          <a href="?request_heartbeat={{ worker.id }}">Request</a>
        {% else %}{{ worker.latest_heartbeat }}{% endif%}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}


{% if edit_id > 0 %}
    <h2>Edit worker '{{worker.worker_name}}'</h2>
{% else %}
    <h2>Create a new Worker</h2>
{% endif %}

<div class="container-fluid well span6">
  <form role="form" method="post">
    {% if edit_id > 0 %}
        <input type="hidden" name="worker_id" value="{{ edit_id }}"/>
    {% endif%}
    <div class="form-group">
      <label for="worker_name">Name</label>
      <input type="text" class="form-control" required
             id="worker_name" name="worker_name"
             placeholder="Neural Netter"
             {% if edit_id > 0 %}value="{{ worker.worker_name}}"{% endif %} />
    </div>
    <div class="form-group">
      <label for="url">API URL</label>
      <input type="url" class="form-control" required
             id="url" name="url"
             placeholder="http://myurl.com/api.php"
             {% if edit_id > 0 %}value="{{ worker.url}}"{% endif %} />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="3"
                id="description" name="description"
                placeholder="This project is documentet at www.example.com">{% if edit_id > 0 %}{{ worker.description}}{% endif %}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="../profile" class="btn btn-danger">Cancel</a>
  </form>
</div>

 <ul class="gallery mw-gallery-traditional">
  {% for image in userimages %}
   <li class="gallerybox" style="width: 155px">
     <div style="width: 155px">
       <div class="thumb" style="width: 150px;">
         <div style="margin:21px auto;">
           <a href="../view?raw_data_id={{ image.id }}"><img src="../raw-data/{{ image.id }}.svg" style="width:140px;height:140px;"/></a>
         </div>
       </div>
       <div class="gallerytext"><a href="../view?raw_data_id={{ image.id }}">{{ image.creation_date }}</a></div>
     </div>
   </li>
  {% endfor %}
 </ul>

{{ pagination.pagination(currentPage, '', total, pages, 5) }}
{% endblock %}