{% extends "base.twig" %}

{% block header %}
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>

 <script type='text/javascript'>
     window.onload=function(){
    var canvas = new fabric.StaticCanvas('galleryImage');
    var group = new fabric.Group();
    canvas.add(group);

    {% if path != "" %}
        var path = new fabric.Path('{{ image.path }}');
        path.set({fill: 'transparent', stroke: 'red', strokeWidth: 3});
        canvas.add(path);
    {% endif %}

    {% for dot in dots %}
        var dot = new fabric.Circle({radius: 5,
                                     fill: 'red',
                                     left: {{ dot.x }},
                                     top: {{ dot.y }}});
        canvas.add(dot);
    {% endfor %}

    {% if show_points %}
    var group = new fabric.Group([], {});
    var point_array = {{ points|raw }};
    point_array.forEach(function(entry) {
        circle = new fabric.Circle({
            radius: 3, fill: 'green', left: entry['x'], top: entry['y']
        });
        group.addWithUpdate(circle);
    });
    canvas.add(group);
    {% endif %}


    canvas.renderAll();
    {% if path != "" %}
        path.center();
    {% endif %}
    {% if show_points %}
    group.center();
    {% endif %}
    /* Make sure that touch events do nothing */
    canvas.deactivateAll();
    canvas.selection = false;
    canvas.forEachObject(function(o) {
        o.selectable = false;
    });
}
 </script>
{% endblock %}

{% block content %}
<div class="row-fluid clearfix">
    <div class="span6 pull-left panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Modified image</h3>
        </div>
        <div class="panel-body"><canvas id="galleryImage" width="400" height="400"></canvas></div>
    </div>
    <div class="span6 pull-right panel panel-default" style="width:400px;">
        <div class="panel-heading" style="padding-left:50px;">
            <h3 class="panel-title">Preprocessing options</h3>
        </div>
        <div class="panel-body" style="margin-left:50px;">
<form role="form" method="get" onsubmit="$('button').prop('disabled', true);">
  <div class="form-group">
    <label for="raw_data_id">Raw data id</label>
    <input type="number"
           class="form-control"
           id="raw_data_id" name="raw_data_id"
           placeholder="31"
           value="{{ image.id }}" />
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"
             name="show_points"
             {% if show_points %}checked="checked"{% endif %}
             /> Show points
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"
             name="scale_and_shift"
             {% if scale_and_shift %}checked="checked"{% endif %}
             /> Scale and shift
        <p class="help-block">Shift points in space and time, but scale them only in space.</p>
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"
             name="minimum_time_delay_filter"
             {% if minimum_time_delay_filter %}checked="checked"{% endif %}
             /> Minimum Time Delay Filter <input type="text" name="minimum_time_delay_filter_constant" value="{{minimum_time_delay_filter_constant}}"/>
        <p class="help-block">Sometimes hardware makes points when the user does not
        want to make points. A characteristic of those points is sometimes a very
        high speed. You can modify the minimum time delta two points should have.</p>
    </label>
  </div>
  <div class="form-group">
    <label for="smooth1">Smoothing factor (point before)</label>
    <input type="number"
           step="any"
           min="0"
           class="form-control"
           id="smooth1" name="smooth1"
           placeholder="0.166"
           value="{{ smooth1 }}" />
  </div>
  <div class="form-group">
    <label for="smooth2">Smoothing factor (current point)</label>
    <input type="number"
           step="any"
           min="0"
           class="form-control"
           id="smooth2" name="smooth2"
           placeholder="0.668"
           value="{{ smooth2 }}" />
  </div>
<div class="form-group">
    <label for="smooth3">Smoothing factor (point after)</label>
    <input type="number"
           step="any"
           min="0"
           class="form-control"
           id="smooth3" name="smooth3"
           placeholder="0.166"
           value="{{ smooth3 }}" />
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"
             name="douglas_peucker"
             {% if douglas_peucker %}checked="checked"{% endif %}
             /> Douglas Peucker <input type="text" name="epsilon" value="{{epsilon}}"/>
        <p class="help-block">Apply the Douglas-Peucker algorithm to get
        rid of points that seem to be not much different from other points</p>
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"
             name="dot_reduction"
             {% if dot_reduction %}checked="checked"{% endif %}
             /> Dot reduction <input 
                 type="number"
                 step="any"
                 min="0"
                 name="dot_reduction_threshold" 
                 value="{{ dot_reduction_threshold }}"/>
        <p class="help-block">Sometimes dots have mutliple points due to an
        error in the device. This filter replaces lines where the maximum
        distance of points in that line is lower than a threshold</p>
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"
             name="cubic_spline"
             {% if cubic_spline %}checked="checked"{% endif %}
             /> Cubic spline <input type="number" name="cubic_spline_points" min="2" max="100"
             step="1" value="{{cubic_spline_points}}"/>
        <p class="help-block">Space points equidistant in time</p>
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"
             name="show_raw"
             {% if show_raw %}checked="checked"{% endif %}
             /> Show raw data
        <p class="help-block">This might be much.</p>
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>
    </div>
</div>

{% if show_raw %}
    <h2>Raw data</h2>
    <pre>{{ image.data }}</pre>
{% endif %}

<p>See <a href="../view?raw_data_id={{ image.id }}">raw data information</a></p>
{% endblock %}