{% extends "base.twig" %}

{% block content %}
Green background means it is part of the current classifier and can - in
principle - be recognized.

<!-- Fix line height to make loading more convenient -->
<style type="text/css">
tr {
   line-height: 45px;
   min-height: 45px;
   height: 45px;
}
</style>

<table class="table table-striped">
    <tr>
        <td></td>
        <th>#</th>
        <th>Formula in LaTeX</th>
        <th><abbr title="'base variant version' of this symbol">var</abbr></th>
        <th>Instances in database</th>
        <th><abbr title="References of this symbol in literature">ref</abbr></th>
        {% if user_id == 10 %}
        <th>is important<th>
        {% endif %}
    </tr>
  {% for s in symbol_training_data_count %}
    <tr>
            <th><img  src="../formulas/{{ s.id }}-{{ s.best_rendering }}.svg"
                 width="30" style="width:30px;max-height:30px;" /></th>
        {% if s.is_important %}
            <td style="background-color:green;">{{ loop.index }}</td>
            <td style="background-color:green;"><a href="../symbol/?id={{s.id}}">{{s.formula_in_latex}}</a>
            {% for tagid in symbol2tags[s.id] %}
            <a href="../tags/{{tagid2name[tagid]}}" class="label label-primary">{{tagid2name[tagid]}}</a>
            {% endfor %}
            </td>
            <td style="background-color:green;">{% if s.variant_of|length>0%}<a href="../symbol/?id={{s.variant_of}}">{{s.variant_of}}</a>{% endif %}</td>
            <td style="background-color:green;">{{s.counter}}</td>
            <td style="background-color:{% if s.used_by_counter >= 3%}green{%elseif s.used_by_counter > 0%}yellow{% else %}red{%endif%};">{{s.used_by_counter}}</td>
        {% else %}
            <td>{{ loop.index }}</td>
            <td><a href="../symbol/?id={{s.id}}">{{s.formula_in_latex}}</a>
            {% for tagid in symbol2tags[s.id] %}
            <a href="../tags/{{tagid2name[tagid]}}" class="label label-primary">{{tagid2name[tagid]}}</a>
            {% endfor %}
            </td>
            <td>{% if s.variant_of|length>0%}<a href="../symbol/?id={{s.variant_of}}">{{s.variant_of}}</a>{% endif %}</td>
            <td>{{s.counter}}</td>
            <td>{{s.used_by_counter}}</td>
        {% endif %}
    {% if user_id == 10 %}
        {% if s.is_important %}
            <td><a href="?is_not_important={{ s.id }}">is not important</a></td>
        {% else %}
            <td><a href="?is_important={{ s.id }}">is important</a></td>
        {% endif %}
    {% endif %}
    </tr>
  {% endfor %}
    <tr>
       <td>&nbsp;</td>
       <td>&sum;</td>
       <td>&nbsp;</td>
       <td>{{ sum }}</td>
       <td>{{ important_count }} ({{ important_count_raw }} raw)</td>
        {% if user_id == 10 %}
            <td>&nbsp;</td>
        {% endif %}
    </tr>
</table>
{% endblock %}