{% extends "base.twig" %}
{% import "pagination.twig" as pagination %}

{% block headerbuttons %}
<div class="btn-toolbar pull-right">
{% if account_type != 'IP-User' %}
    <a href="../symbol/?id={{ formula.id }}&edit" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> edit</a>
{% endif %}
{% if uid == 10 %}
    <a href="../symbol/?id={{ formula.id }}&delete={{ formula.id }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> delete</a>
{% endif %}
    <a href="../train/?formula_id={{ formula.id }}" class="btn btn-primary">Train this symbol</a>
</div>
{% endblock %}

{% block header %}
    <style>
        @font-face {
            font-family: 'STIXGeneral';
            src:
            url('../fonts/STIXGeneral.woff') format('woff');
            font-style: normal;
        }
        @font-face {
            font-family: 'STIXNonUnicode';
            src:
            url('../fonts/STIXNonUniIta.woff') format('woff');
            font-style: italic;
        }
    </style>
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" />
<script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
<style type="text/css">
.bootstrap-tagsinput {
    width: 100%;
}
.label {
    line-height: 2 !important;
}
</style>
{% endblock %}


{% block content %}
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
    <li role="presentation"><a href="#latextab" aria-controls="latex" role="tab" data-toggle="tab">LaTeX</a></li>
    <li role="presentation"><a href="#references" aria-controls="references" role="tab" data-toggle="tab">References</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="info">
{% if logged_in and edit_flag %}
<form role="form" method="post" action="?id={{ formula.id }}">
    <input type="hidden" name="id" value="{{ formula.id }}" />
    <div class="control-group">
        <label class="control-label" for="latex">LaTeX</label>
        <div class="controls">
            <input type="text" class="form-control"
                   placeholder="\alpha" disabled
                   id="latex" name="latex"
                   value="{{ formula.formula_in_latex }}" />
        </div>
    </div>
    {% if account_type == 'Admin' %}
    <div class="control-group">
        <label class="control-label" for="formula_name">Formula Name</label>
        <div class="controls">
            <input type="text" class="form-control"
                   placeholder="&alpha;"
                   id="formula_name" name="formula_name"
                   value="{{ formula.formula_name }}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="tags">Tags (always singular, separated by a space)</label>
        <div class="controls">
            <input type="text" class="form-control"
                   placeholder="arrow cyrillic-alphabet"
                   id="tags" name="tags"
                   value="{% for tag in tags %}{{ tag.tag_name }} {% endfor %}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="variant_of">variant of</label>
        <div class="controls">
            <input type="text" class="form-control"
                   placeholder="123"
                   id="variant_of" name="variant_of"
                   value="{{ formula.variant_of }}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="unicode_dec">unicode_dec: &#{{ formula.unicode_dec }};</label>
        <div class="controls">
            <input type="number" min="0" class="form-control"
                   placeholder="&alpha;"
                   id="unicode_dec" name="unicode_dec"
                   value="{{ formula.unicode_dec }}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="font">font</label>
        <div class="controls">
            <input type="text" class="form-control"
                   placeholder="STIXGeneral"
                   id="font" name="font"
                   value="{{ formula.font }}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="font_style">font_style</label>
        <div class="controls">
            <input type="text" class="form-control"
                   placeholder="normal"
                   id="font_style" name="font_style"
                   value="{{ formula.font_style }}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="mode">Mode</label>
        <div class="controls">
            <select class="form-control" id="mode" name="mode">
                <option {% if formula.mode == 'bothmodes' %}selected{% endif %}>bothmodes</option>
                <option {% if formula.mode == 'mathmode' %}selected{% endif %}>mathmode</option>
                <option {% if formula.mode == 'textmode' %}selected{% endif %}>textmode</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="formula_type">Type</label>
        <div class="controls">
            <select class="form-control" id="formula_type" name="formula_type">
                {% if formula.formula_type == NULL %}
                  <option selected="selected" value="NULL">Not set</option>
                {% else %}
                  <option value="NULL">Not set</option>
                {% endif %}
                <option {% if formula.formula_type == 'single symbol' %}selected{% endif %}>single symbol</option>
                <option {% if formula.formula_type == 'formula' %}selected{% endif %}>formula</option>
                <option {% if formula.formula_type == 'drawing' %}selected{% endif %}>drawing</option>
                <option {% if formula.formula_type == 'nesting symbol' %}selected{% endif %}>nesting symbol</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="packages">Packages</label>
        <div class="controls">
            <datalist id="latex_packages">
                <option value="amsmath">amsmath</option>
                <option value="amssymb">amssymb</option>
                <option value="bbold">bbold</option>
                <option value="cmll">cmll</option>
                <option value="dsfont">dsfont</option>
                <option value="esint">esint</option>
                <option value="gensymb">gensymb</option>
                <option value="latexsym">latexsym</option>
                <option value="marvosym">marvosym</option>
                <option value="mathdots">mathdots</option>
                <option value="mathrsfs">mathrsfs</option>
                <option value="skull">skull</option>
                <option value="stmaryrd">stmaryrd</option>
                <option value="textcomp">textcomp</option>
                <option value="tipa">tipa</option>
                <option value="upgreek">upgreek</option>
                <option value="wasysym">wasysym</option>
            </datalist>
            <input type="text" class="form-control"
                   placeholder="amsmath"
                   name="packages" id="packages"
                   list="latex_packages"
                   value="{{ formula.package }}" />
        </div>
        <p class="help-block">Separate packages by spaces.</p>
    </div>
    {% endif %}
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <textarea class="form-control" rows="7" name="description" id="description">{{ formula.description}}</textarea>
        </div>
    </div>
    {% if account_type == 'Admin' %}
    <div class="control-group">
        <label class="control-label" for="svg">SVG</label>
        <div class="controls">
            <textarea class="form-control" rows="20" name="svg" id="svg">{{ formula.svg }}</textarea>
        </div>
    </div>
    {% endif %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif %}


{% if formula.unicode_dec != 0 %}
<table>
<tr>
  <th style="width:150px;text-align:center;">Image</th>
  <th style="width:150px;text-align:center;">Unicode</th>
</tr>
<tr>
<td>
{% if formula.best_rendering %}
<img src="../formulas/{{ formula.id }}-{{ formula.best_rendering }}.svg"
    width="150px" style="width:150px;max-height:150px;" />
{% else %}
    <div style="width:150px;font-size: 250%;"><p>$${{ formula.formula_in_latex }}$$</p></div>
{% endif %}
</td>
<td>
    <div style="font-family:{{formula.font|raw}};font-style:{{formula.font_style|raw}};font-size:76px;line-height:150px;text-align:center;color:black;"><span style="color:#f3f3f3;">a</span>&#{{formula.unicode_dec|raw}};<span style="color:#f3f3f3;">b</span></div>
</td>
</table>
{% else %}
<table>
<tr>
  <th style="width:150px;text-align:center;">Image</th>
</tr>
<tr>
<td>
{% if formula.best_rendering %}
<img src="../formulas/{{ formula.id }}-{{ formula.best_rendering }}.svg"
    width="150px" style="width:150px;max-height:150px;" />
{% else %}
    <div style="width:150px;font-size: 250%;"><p>$${{ formula.formula_in_latex }}$$</p></div>
{% endif %}
</td>
</table>
{% endif %}

<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ formula.formula_name }} {% if formula.variant_of|length > 0%}(Variant of <a href="../symbol/?id={{ formula.variant_of }}">{{ formula.variant_of }}</a>){% endif %}</td>
        </tr>
        {% if tags|length > 0%}
        <tr>
            <td colspan="2">{% for tag in tags %}<a href="../tags/{{ tag.tag_name }}" class="label label-primary">{{ tag.tag_name }}</a>{% endfor %}</td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="2">{{formula.description|raw}}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ formula.formula_type }}</td>
        </tr>
        <tr>
            <th>Total handdrawn symbols</th>
            <td>{{ total }}</td>
        </tr>
    </tbody>
</table>

</div><!--tabpanel info-->

<div role="tabpanel" class="tab-pane" id="latextab">
<h2>LaTeX</h2>
<p><b>LaTeX</b>: <code>{{ formula.formula_in_latex }}</code></p>
<p><b>Mode</b>: {{ formula.mode }}</p>
{% if formula.package != '' %}
    <p><b>Package</b>: {{ formula.package }}</p>
{% endif %}
{% if formula.preamble != '' %}
    <p><b>Preamble</b>: <code>{{ formula.preamble }}</code></p>
{% endif %}

</div><!--tabpanel latex-->

<div role="tabpanel" class="tab-pane" id="references">
<h2>Used by</h2>
<ul>
{% for reference in references %}
<li>{{ reference.paper }} - {{ reference.meaning}} {% if uid == 10 %} <a href="?id={{ formula.id }}&amp;delete_reference={{reference.id}}" type="button" class="btn btn-danger" aria-label="Left Align">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</a>{% endif %}</li>
{% endfor %}
</ul>

{% if account_type != 'IP-User' %}
<h2>Add Reference</h2>

<form role="form" method="post" action="?id={{ formula.id }}">
    <input type="hidden" name="id" value="{{ formula.id }}" />
    <div class="control-group">
        <label class="control-label" for="used_by">This symbol is used by ...</label>
        <div class="controls">
            <input type="text" class="form-control"
                   placeholder="http://arxiv.org/abs/1510.00385"
                   id="used_by" name="used_by"
                   value="" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="meaning">Meaning in this context:</label>
        <div class="controls">
            <input type="text" class="form-control"
                   placeholder="an index variable"
                   id="meaning" name="meaning"
                   value="" />
        </div>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form><br/><br/>
{% endif %}
</div>

<ul class="nav nav-tabs">
  <li {% if tab == 'trainingset' %}class="active"{% endif %}><a href="../symbol?id={{ formula.id }}">Trainingset</a></li>
  <li {% if tab == 'testset' %}class="active"{% endif %}><a href="../symbol?id={{ formula.id }}&tab=testset">Testset</a></li>
</ul>

 <ul class="gallery mw-gallery-traditional">
  {% for image in images %}
   <li class="gallerybox" style="width: 155px">
     <div style="width: 155px">
       <div class="thumb" style="width: 150px;">
         <div style="margin:21px auto;">
           <a href="../view?raw_data_id={{ image.id }}"><img src="../raw-data/{{ image.id }}.svg"
              width="140px"
              height="140px"
              style="width:140px;height:140px;"/></a>
         </div>
       </div>
       <div class="gallerytext"><a href="../view?raw_data_id={{ image.id }}">{{ image.creation_date }}</a></div>
     </div>
   </li>
  {% endfor %}
 </ul>

{{ pagination.pagination(currentPage, '&id=' ~ formula.id ~ '&tab=' ~ tab, total, pages, 5) }}


<!-- MathJax -->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript">
<!--
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [ ['$$', '$$']],
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
    processEscapes: true,
    scale: 200
  }
});

MathJax.Hub.Queue(function() {
    var all = MathJax.Hub.getAllJax(), i;
    for(i=0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
    }
});
// -->
</script>
{% endblock %}