{% extends "base.twig" %}

{% block content %}
<img src="../formulas/{{ formula.id }}-{{ formula.best_rendering }}.svg" width="150px" />
<p><b>Name</b>: {{formula.formula_name}}</p>
<p><b>LaTeX</b>: <code>{{ formula.formula_in_latex }}</code></p>
<p><b>Mode</b>: {{formula.mode}}</p>
<p><b>Type</b>: {{formula.formula_type}}</p>
{% if formula.package != '' %}
    <p><b>Package</b>: {{formula.package}}</p>
{% endif %}

<p><b>Description</b>: {{formula.description}}</p>

<hr/>

{% if logged_in and edit_flag %}
<form role="form" method="post">
    <input type="hidden" name="id" value="{{ formula.id }}" />
    <div class="control-group">
        <label class="control-label" for="latex">LaTeX</label>
        <div class="controls"> 
            <input type="text" class="form-control"
                   placeholder="\alpha" disabled
                   id="latex" name="latex"
                   value="{{ formula.formula_in_latex }}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="formula_name">Formula Name</label>
        <div class="controls"> 
            <input type="text" class="form-control"
                   placeholder="&alpha;"
                   id="formula_name" name="formula_name"
                   value="{{ formula.formula_name }}" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="mode">Mode</label>
        <div class="controls"> 
            <select class="form-control" id="mode" name="mode">
                <option {% if formula.mode == 'bothmodes' %}selected{% endif %}>bothmodes</option>
                <option {% if formula.mode == 'mathmode' %}selected{% endif %}>mathmode</option>
                <option {% if formula.mode == 'textmode' %}selected{% endif %}>textmode</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="formula_type">Type</label>
        <div class="controls"> 
            <select class="form-control" id="formula_type" name="formula_type">
                {% if formula.formula_type == NULL %}
                  <option selected="selected" value="NULL">Not set</option>
                {% else %}
                  <option value="NULL">Not set</option>
                {% endif %}
                <option {% if formula.formula_type == 'single symbol' %}selected{% endif %}>single symbol</option>
                <option {% if formula.formula_type == 'formula' %}selected{% endif %}>formula</option>
                <option {% if formula.formula_type == 'drawing' %}selected{% endif %}>drawing</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="packages">Packages</label>
        <div class="controls">
            <datalist id="latex_packages">
                <option value="amsmath">amsmath</option>
                <option value="amssymb">amssymb</option>
                <option value="bbold">bbold</option>
                <option value="cmll">cmll</option>
                <option value="dsfont">dsfont</option>
                <option value="esint">esint</option>
                <option value="gensymb">gensymb</option>
                <option value="latexsym">latexsym</option>
                <option value="marvosym">marvosym</option>
                <option value="mathdots">mathdots</option>
                <option value="mathrsfs">mathrsfs</option>
                <option value="skull">skull</option>
                <option value="stmaryrd">stmaryrd</option>
                <option value="textcomp">textcomp</option>
                <option value="tipa">tipa</option>
                <option value="upgreek">upgreek</option>
                <option value="wasysym">wasysym</option>
            </datalist>
            <input type="text" class="form-control"
                   placeholder="amsmath"
                   name="packages" id="packages"
                   list="latex_packages"
                   value="{{ formula.package }}" />
        </div>
        <p class="help-block">Separate packages by spaces.</p>
    </div>
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls"> 
            <textarea class="form-control" rows="7" name="description" id="description">{{ formula.description }}</textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="svg">SVG</label>
        <div class="controls"> 
            <textarea class="form-control" rows="20" name="svg" id="svg">{{ formula.svg }}</textarea>
        </div>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}

{% if uid == 10 %}
<a href="../symbol/?id={{ formula.id }}&edit">edit</a><br/><br/><br/>
<a href="../symbol/?delete={{ formula.id }}">delete</a>
{% endif %}
{% endif %}
{% endblock %}