{% extends "base.twig" %}

{% block header %}
	{% include 'recordingjs.twig' %}
{% endblock %}

{% block content %}
{% if account_type == 'IP-User' %}
<div class="alert alert-warning">
    <h4>Disclaimer</h4>
    Although you are not logged in, the following information gets stored:
    <ul>
        <li>Your handdrawn symbols</li>
        <li>Votes, flagging actions, answers</li>
        <li>All other interactions with this site</li>
        <li>{{ useragentstring }}</li>
    </ul>

    By using this service, you agree with that.
</div>
<div class="alert alert-info">
    By <a href="../login">logging in</a>, you help me to improve the classifier.
</div>
{% endif %}
{% if challenge_id == "" and formula.id != "" %}
    <!-- Train a single formula, but not part of a challenge -->
    <form method="post" action="?formula_id={{ formula.id }}{% if random_mode%}&rand{% endif %}" onsubmit="return addCanvas();" id="form">
    <input type="hidden" name="formula_id" value="{{ formula.id }}"/>
    <input type="hidden" id="drawnJSON" name="drawnJSON" value="" />
    <div class="row-fluid">
        <div class="span6 pull-left panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Draw here
            <button type="submit" class="btn btn-success">Submit</button>
            <a href="?formula_id={{ formula.id }}{% if random_mode%}&rand{% endif %}" class="btn btn-danger">Clear</a></h3>
          </div>
          <div class="panel-body">
            <canvas id="sheet" width="400" height="400" style="border:1px solid black;width:400px;height:400px;"></canvas>
          </div>
        </div>

        <div class="span6 pull-right panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Draw '{{ formula.formula_name }}'
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Report problem <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="?missing_formula_id={{ formula.id }}{% if random_mode%}&rand{% endif %}" accesskey="m" alt="Alt+m">Rendering is missing</a></li>
                <li><a href="?wrong_rendering_id={{ formula.id }}{% if random_mode%}&rand{% endif %}" accesskey="u" alt="Alt+w">Rendering looks wrong</a></li>
                <li><a href="?unknown_formula_id={{ formula.id }}{% if random_mode%}&rand{% endif %}" accesskey="u" alt="Alt+u">I never needed this formula</a></li>
              </ul>
            </div>
            </h3>
          </div>
          <div class="panel-body">
            <a href="../symbol/?id={{ formula.id }}"><img src="../formulas/{{ formula.id }}-{{ formula.best_rendering }}.svg" width="400" style="width:400px;height:400px;" /></a>
          </div>
        </div>
    </div>
    </form>

    <p><b>Description:</b> {{ formula.description }}</p>
    <p><b>Mode:</b> {{ formula.mode }}</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ formula.counter }}" aria-valuemin="0" aria-valuemax="50" style="width: {{ formula.counter / 50 * 100 }}%;">
        {{ formula.counter / 50 * 100 }}%
      </div>
    </div>
{% elseif challenge_id != "" %}
    <!-- Train a single formula as part of a challenge -->
    <form method="post" action="?challenge_id={{ challenge_id }}&i={{ i }}" onsubmit="return addCanvas();" id="form">
    <input type="hidden" name="formula_id" value="{{ formula_id }}"/>
    <input type="hidden" id="drawnJSON" name="drawnJSON" value="" />
    <div class="row-fluid">
        <div class="span6 pull-left panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Draw here
            <button type="submit" class="offset1 btn btn-success">Submit</button>
            <a href="?challenge_id={{ challenge_id }}&i={{ i }}" class="btn btn-danger">Clear</a>
            <img src="../formulas/{{ formula.id }}-{{ formula.best_rendering }}.svg" width="50" style="width:50px;height:50px;float:right;">
            </h3>
          </div>
          <div class="panel-body">
            <canvas id="sheet" width="400" height="400" style="border:1px solid black;width:400px;height:400px;"></canvas>
          </div>
        </div>

        <div class="span6 pull-right panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Draw '{{ formula.formula_name }}'</h3>
          </div>
          <div class="panel-body">
            <a href="../symbol/?id={{ formula.id }}"><img src="../formulas/{{ formula.id }}-{{ formula.best_rendering }}.svg" width="400" style="width:400px;height:400px;" /></a>
          </div>
        </div>
    </div>
    </form>

    <p><b>Description:</b> {{ formula.description }}</p>
    <p><b>Mode:</b> {{ formula.mode }}</p>
{% else %}
    <h2>Train random symbol</h2>
    <p><a href="?rand">Train a random symbol</a>: This also helps you to
    complete challenges!</p>

    <!-- List everything -->
    <h2>Challenges</h2>
    <ul>
    {% for challenge in challenges %}
        <li><a href="?challenge_id={{ challenge['id'] }}&i=0">{{ challenge['challenge_name'] | raw }}</a>
        {% if challenge['missing'] == 0 %}
            <img src="../icons/accept.png" alt="challenge done" />
        {% else %}
            - {{ challenge['missing'] }} missing
        {% endif %}
        </li>
    {% endfor %}
    </ul>

    <h2>Symbols</h2>
    <div class="wrapper">
    <ul>
    {% for formula in formula_ids %}
        <li><a href="?formula_id={{ formula['id'] }}">{{ formula['formula_name'] | raw }}</a>
        {% if formula['counter'] > 0 %}
            <img src="../icons/accept.png" alt="{{ formula['counter'] }} times drawn" />
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ formula['counter'] }}" aria-valuemin="0" aria-valuemax="50" style="width: {{ formula['counter'] / 50 * 100 }}%;">
                {{ formula['counter'] / 50 * 100 }}%
              </div>
            </div>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}

    <script type='text/javascript'>
        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;

        width *= 0.8;
        height *= 0.8;

        if (width > 400) {
            width = 400;
        }

        if (height > 400) {
            height = 400;
        }

        var canvas = document.getElementById("sheet");
        var image = document.getElementById("imgid");
        console.log(width);
        canvas.width = width;
        canvas.height = height;
        image.width = width;
        image.height = height;
    </script>
{% endblock %}