{% extends "base.twig" %}
{% import "pagination.twig" as pagination %}

{% block content %}
{% if user %}
<div class="container-fluid well span6">
  <div class="row-fluid">
        <div class="span2" >
          <img src="{{ gravatar }}?s=140&r=g&d=mm" class="img-circle">
        </div>
        
        <div class="span8">
            <form action="" method="post" role="form">
              <div class="form-group">
                <label for="language" class="col-sm-2 control-label">Language</label>
                <div class="col-sm-10">
                    <select class="form-control" name="language" disabled>
                        {% if language == NULL %}
                          <option selected="selected" value="NULL">Not set</option>
                        {% else %}
                          <option value="NULL">Not set</option>
                        {% endif %}
                        {% for lang in languages %}
                            {% if user.language == lang.language_code %}
                              <option value="{{ lang.language_code }}" selected="selected">{{ lang.english_language_name }}</option>
                            {% else %}
                              <option value="{{ lang.language_code }}">{{ lang.english_language_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
              </div>

              <div class="form-group">
                <label for="handedness" class="col-sm-2 control-label">Handedness</label>
                <div class="col-sm-10">
                    <select class="form-control" name="handedness" disabled>
                        {% if user.handedness == NULL %}
                          <option selected="selected" value="NULL">Not set</option>
                          <option value="l">left</option>
                          <option value="r">right</option>
                        {% elseif user.handedness == 'r' %}
                          <option value="NULL">Not set</option>
                          <option value="l">left</option>
                          <option value="r" selected="selected">right</option>
                        {% elseif user.handedness == 'l' %}
                          <option value="NULL">Not set</option>
                          <option value="l" selected="selected">left</option>
                          <option value="r">right</option>
                        {% endif %}
                    </select>
                </div>
              </div>
            </form>
        </div>
</div>
</div>

 <ul class="gallery mw-gallery-traditional">
  {% for image in userimages %}
   <li class="gallerybox" style="width: 155px">
     <div style="width: 155px">
       <div class="thumb" style="width: 150px;">
         <div style="margin:21px auto;">
           <a href="../view?raw_data_id={{ image.id }}"><img src="../raw-data/{{ image.id }}.svg"
              width="140px"
              height="140px"
              style="width:140px;height:140px;"/></a>
         </div>
       </div>
       <div class="gallerytext"><a href="../view?raw_data_id={{ image.id }}">{{ image.creation_date }}</a></div>
     </div>
   </li>
  {% endfor %}
 </ul>

{{ pagination.pagination(currentPage, '&id=' ~ user.id, total, pages, 5) }}
{% else %}
<p>This user seems not to exist.</p>
{% endif %}
{% endblock %}