{% extends "base.twig" %}

{% block header %}
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>
<script type='text/javascript'>
    window.onload=function(){
        var canvas = new fabric.Canvas('galleryImage');
        var path = new fabric.Path('{{ path}}');
        path.set({fill: 'transparent', stroke: 'red', strokeWidth: 3});
        path.scale(0.9*Math.min(canvas.height / path.height, 
        canvas.width  / path.width));
        canvas.add(path);

        canvas.renderAll();
        path.center();
    }
</script>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-6"><canvas id="galleryImage" width="400" height="400" style="border:1px solid black;"></canvas></div>
<div class="col-md-6">
<form action="?raw_data_id={{ raw_data_id }}" method="post">
<table class="table" role="table">
  <tr>
    <th>lines</th>
    <td>{{ lines_nr }}</td>
  </tr>
  <tr>
    <th>control points</th>
    <td>{{ control_points }}</td>
  </tr>
  <tr>
    <td><input type="number" id="epsilon" name="epsilon" min="0" max="500" value="{{ epsilon }}" onchange="submit()"/></td>
    <td><button type="submit" class="btn btn-default">Adjust Epsilon</button></td>
  </tr>
  <tr>
    <th>Creation Date</th>
    <td>{{ creation_date }}</td>
  </tr>
  <tr>
    <th>User-ID</th>
    <td>{{ user_id }}</td>
  </tr>
  <tr>
    <th>Brute-Force</th>
    <td><a href="../brute-force/?A={{ raw_data_id }}">Link</a></td>
  </tr>
  <tr>
    <th>accepted_formula_id</th>
    <td>{{ accepted_formula_id }}</td>
  </tr>
  {% if user_id == uid%}
  <tr>
    <th>Operations</th>
    <td><a href="?delete={{ raw_data_id }}" type="button" class="btn btn-danger">Delete</a></td>
  </tr>
  {% elseif logged_in %}
  <tr>
    <th>Operations</th>
    <td><a href="?flag={{ raw_data_id }}" type="button" class="btn btn-danger">Flag</a></td>
  </tr>
  {% endif %}
</table>
</form>
</div>
</div>

   <h2>Possible classifications</h2>
    {% for answer in answers %}
    <div class="container-fluid">
      <table>
        <tr>
          <td>
              <a href="?raw_data_id={{ raw_data_id }}&raw_data2formula_id={{ answer.id }}&vote=1">Upvote</a><br/>
              {{ answer.votes }}<br/>
              <a href="?raw_data_id={{ raw_data_id }}&raw_data2formula_id={{ answer.id }}&vote=-1">Downvote</a>
          </td>
          <td>
            <img src="../api/?task=view-formula&id={{ answer.formula_id }}" width="400" style="width:400px;height:400px;" />
          </td>
          <td>
              <pre class="prettyprint linenums languague-css">{{ answer.formula_in_latex }}</pre><br/>
              <p><a href="../profile?id={{ answer.user_id }}">{{ answer.display_name }}</a></p>
          </td>
          <td>
            {% if answer.formula_id == accepted_formula_id %}
              <img src="../icons/Crystal_Clear_action_apply.png" alt="Accepted" />
            {% else %}
          <a href="?raw_data_id={{ raw_data_id }}&accept={{ answer.formula_id }}"><img src="../icons/Crystal_Clear_action_apply-gray.png" alt="Accept" onmouseover=
"src='../icons/Crystal_Clear_action_apply.png'" onmouseout="src='../icons/Crystal_Clear_action_apply-gray.png'" /></a>
            {% endif %}
          </td>
        </tr>
      </table>
    </div><br/>
    {% endfor %}

   <h2>Add a new answer</h2>
   <form method="post" action="?raw_data_id={{ raw_data_id }}" class="form-horizontal" role="form">
     <input type="hidden" name="raw_data_id" value="" />
     <div class="control-group">
       <label class="control-label" for="latex">LaTeX</label>
       <div class="controls"> 
         <textarea name="latex" id="latex" class="form-control" rows="3"></textarea>
       </div>
     </div>
      <div class="control-group">
       <label class="control-label" for="mode">Mode</label>
       <div class="controls"> 
         <select class="form-control" id="mode" name="mode">
            <option>bothmodes</option>
            <option>mathmode</option>
            <option>textmode</option>
          </select>
       </div>
     </div>
     <div class="control-group">
       <label class="control-label" for="packages">Packages</label>
       <div class="controls"> 
         <input type="text" class="form-control" placeholder="amsmath" name="packages" id="packages"/>
       </div>
       <p class="help-block">Separate packages by <code>;</code>.</p>
     </div>
     <button type="submit" class="btn btn-success">Submit</button>
   </form>




<script type='text/javascript'>
    var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
    var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;

    width *= 0.8;
    height *= 0.8;

    if (width > 400) {
        width = 400;
    }

    if (height > 400) {
        height = 400;
    }

    var canvas = document.getElementById("galleryImage");
    canvas.width = width;
    canvas.height = height;
</script>
{% endblock %}