{% extends "base.twig" %}

{% block header %}
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>
<script type='text/javascript'>
    window.onload=function(){
        var canvas = new fabric.Canvas('galleryImage');
        var path = new fabric.Path('{{ path}}');
        path.set({fill: 'transparent', stroke: 'red', strokeWidth: 3});
        path.scale(0.9*Math.min(canvas.height / path.height, 
        canvas.width  / path.width));
        canvas.add(path);

        canvas.renderAll();
        path.center();

         {% for answer in answers %}
            var template{{ loop.index }} = new fabric.Canvas('answer{{ loop.index }}');
            fabric.loadSVGFromURL('../view-api/?id={{ answer.formula_id }}',
                                  function(objects, options) {
                var loadedObject = fabric.util.groupSVGElements(objects, options);
                loadedObject.scale(Math.min(template{{ loop.index }}.height / loadedObject.height, 
                                            template{{ loop.index }}.width / loadedObject.width));
                loadedObject.set({left : 0, top : 0});
                loadedObject.setCoords();
                template{{ loop.index }}.add(loadedObject).renderAll();
                loadedObject.center();
               }
            );
         {% endfor %}
    }
</script>
{% endblock %}

{% block content %}
   <table style="width:100%">
       <tr>
       <td><canvas id="galleryImage" width="400" height="400" style="border:1px solid black;"></canvas>
       </td>
       <td>
           Creation Date: {{ creation_date }}<br/>
           User-ID: {{ user_id }}<br/>
           accepted_formula_id: {{ accepted_formula_id }}

           <form action="?raw_data_id={{ raw_data_id }}" method="post">
              <input type="number" id="epsilon" name="epsilon" min="0" max="500" value="{{ epsilon }}" onchange="submit()"/>
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
       </td>
   </table>

   <h2>Possible classifications</h2>
    {% for answer in answers %}
    <div class="container-fluid">
      <table>
        <tr>
          <td><canvas id="answer{{ loop.index }}" class="gallerycanvas" width="140" height="140"></canvas></td>
          <td>
              <pre class="prettyprint linenums languague-css">{{ answer.formula_in_latex }}</pre><br/>
              <p><a href="../profile?id={{ answer.user_id }}">{{ answer.display_name }}</a></p>
          </td>
          <td>
            {% if answer.formula_id == accepted_formula_id %}
              <img src="../icons/Crystal_Clear_action_apply.png" alt="Accepted" />
            {% else %}
          <a href="?raw_data_id={{ raw_data_id }}&accept={{ answer.formula_id }}"><img src="../icons/Crystal_Clear_action_apply-gray.png" alt="Accept" onmouseover=
"src='../icons/Crystal_Clear_action_apply.png'" onmouseout="src='../icons/Crystal_Clear_action_apply-gray.png'" /></a>
            {% endif %}
          </td>
        </tr>
      </table>
    </div><br/>
    {% endfor %}

   <h2>Add a new answer</h2>
   <form method="post" action="?raw_data_id={{ raw_data_id }}" class="form-horizontal">
     <input type="hidden" name="raw_data_id" value="" />
     <div class="control-group">
       <label class="control-label" for="latex">LaTeX</label>
       <div class="controls"> 
         <textarea name="latex" id="latex" style="width:100%"></textarea>
       </div>
     </div>
     <button type="submit" class="btn btn-default">Submit</button>
   </form>
{% endblock %}