{% extends "base.twig" %}

{% block content %}
<div class="row">
<div class="col-md-6"><img src="../raw-data/{{ raw_data_id }}.svg" style="width:400px;height:400px;border:1px solid black;"/></div>
<div class="col-md-6">
<form action="?raw_data_id={{ raw_data_id }}" method="post">
<table class="table" role="table">
  <tr>
    <th>lines</th>
    <td>{{ lines_nr }}</td>
  </tr>
  <tr>
    <th>control points</th>
    <td>{{ control_points }}</td>
  </tr>
  <tr>
    <th>Bounding box (w &times; h)</th>
    <td>{{ bounding_box.width }} &times; {{ bounding_box.height }}</td>
  </tr>
  <tr>
    <th>Min. Time Delta</th>
    <td>{{ '%02.2f'|format(time_resolution.min_time_resolution) }} ms</td>
  </tr>
  <tr>
    <th>Avg. Time Delta</th>
    <td>{{ '%02.2f'|format(time_resolution.average_time_resolution) }} ms</td>
  </tr>
  <tr>
    <th>Max. Time Delta</th>
    <td>{{ '%02.2f'|format(time_resolution.max_time_resolution) }} ms</td>
  </tr>
<!--   <tr>
    <td><input type="number" id="epsilon" name="epsilon" min="0" max="500" value="{{ epsilon }}" onchange="submit()"/></td>
    <td><button type="submit" class="btn btn-default">Adjust Epsilon</button></td>
  </tr> -->
  <tr>
    <th>Creation Date</th>
    <td>{{ image_data.creation_date }}</td>
  </tr>
  <tr>
    <th>User</th>
    <td><a href="../user/?id={{ image_data.user_id }}">{{ image_data.display_name }}</a></td>
  </tr>
  <tr>
    <th>accepted_formula_id</th>
    <td><a href="../symbol/?id={{ image_data.accepted_formula_id }}">{{ image_data.accepted_formula_id }}</a></td>
  </tr>
  <tr>
    <th>Analyze</th>
    <td><a href="../render/?raw_data_id={{ raw_data_id }}">Preprocessing</a></td>
  </tr>
  {% if image_data.user_id == uid or uid == 10 %}
  <tr>
    <th>Operations</th>
    <td><a href="?delete={{ raw_data_id }}" type="button" class="btn btn-danger">Delete</a></td>
  </tr>
  {% elseif logged_in and account_type != 'IP-User' %}
  <tr>
    <th>Operations</th>
    <td><a href="?flag={{ raw_data_id }}" type="button" class="btn btn-danger">Flag</a></td>
  </tr>
  {% endif %}
</table>
</form>
</div>
</div>

{% if automatic_answers|length > 0 %}
<h2>Automatic Classifications</h2>
    {% for answer in automatic_answers %}
    {% if answer.probability > 1 %}
    <div class="pull-left" style="height:200px;">
      <table>
        <tr>
          <td>
            <a href="../symbol/?id={{ answer.formula_id }}"><img 
              src="../formulas/{{ answer.formula_id }}-{{ answer.best_rendering }}.svg"
                 width="150" style="width:150px;max-height:150px;" /></a>
          </td>
          <td width="135px;">
              <pre class="prettyprint linenums languague-css">{{ answer.formula_in_latex }}</pre><br/>
              <p>Mode: {{answer.mode}}</p>
              {% if answer.package != '' %}
              <p>Package: {{answer.package}}</p>
              {% endif %}
              <p><a href="../worker?id={{ answer.worker_id }}">{{ answer.worker_name }}</a></p>
              <p>Probability: {{ answer.probability }}%</p>
          </td>
          <td>
            {% if answer.formula_id == image_data.accepted_formula_id %}
              <a href="?raw_data_id={{ raw_data_id }}&unaccept={{ answer.formula_id }}"><img src="../icons/Crystal_Clear_action_apply.png" alt="Accepted" /></a>
            {% else %}
          <a href="?raw_data_id={{ raw_data_id }}&accept={{ answer.formula_id }}"><img src="../icons/Crystal_Clear_action_apply-gray.png" alt="Accept" onmouseover=
"src='../icons/Crystal_Clear_action_apply.png'" onmouseout="src='../icons/Crystal_Clear_action_apply-gray.png'" /></a>
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
    {% endif %}
    {% endfor %}
    <br style="clear:both;" />
{% endif %}

{% if answers|length > 0 %}
   <h2>User contributed answers</h2>
    {% for answer in answers %}
    <div class="container-fluid">
      <table>
        <tr>
          <td>
              <a href="?raw_data_id={{ raw_data_id }}&raw_data2formula_id={{ answer.id }}&vote=1">Upvote</a><br/>
              {{ answer.votes }}<br/>
              <a href="?raw_data_id={{ raw_data_id }}&raw_data2formula_id={{ answer.id }}&vote=-1">Downvote</a>
          </td>
          <td>
            <a href="../symbol/?id={{ answer.formula_id }}"><img
                src="../formulas/{{ answer.formula_id }}-{{ answer.best_rendering }}.svg"
                width="150" style="width:150px;max-height:150px;" /></a>
          </td>
          <td>
              <pre class="prettyprint linenums languague-css">{{ answer.formula_in_latex }}</pre><br/>
              <p>Mode: {{answer.mode}}</p>
              {% if answer.package != '' %}
              <p>Package: {{answer.package}}</p>
              {% endif %}
              <p><a href="../profile?id={{ answer.user_id }}">{{ answer.display_name }}</a></p>
          </td>
          <td>
            {% if answer.formula_id == image_data.accepted_formula_id %}
              <img src="../icons/Crystal_Clear_action_apply.png" alt="Accepted" />
            {% else %}
          <a href="?raw_data_id={{ raw_data_id }}&accept={{ answer.formula_id }}"><img src="../icons/Crystal_Clear_action_apply-gray.png" alt="Accept" onmouseover=
"src='../icons/Crystal_Clear_action_apply.png'" onmouseout="src='../icons/Crystal_Clear_action_apply-gray.png'" /></a>
            {% endif %}
            {% if answer.user_id == uid %}
            <br/>
            <a href="?raw_data_id={{ raw_data_id }}&delete_answer={{ answer.id }}">Delete answer</a>
            {% endif %}
          </td>
        </tr>
      </table>
    </div><br/>
    {% endfor %}
{% endif %}

   <h2>Add a new answer</h2>
   <form method="post" action="?raw_data_id={{ raw_data_id }}" class="form-horizontal" role="form">
     <input type="hidden" name="raw_data_id" value="{{ raw_data_id }}" />
     <div class="control-group">
       <label class="control-label" for="latex">LaTeX</label>
       <div class="controls"> 
         <textarea name="latex" id="latex" class="form-control" rows="3"></textarea>
       </div>
       <p class="help-block">Please add only the code you would add in the
       document body. All packages / mathmode information will be added
       automatically.</p>
     </div>
<!--       <div class="control-group">
       <label class="control-label" for="mode">Mode</label>
       <div class="controls"> 
         <select class="form-control" id="mode" name="mode">
            <option>bothmodes</option>
            <option>mathmode</option>
            <option>textmode</option>
          </select>
       </div>
     </div>
     <div class="control-group">
       <label class="control-label" for="packages">Packages</label>
       <div class="controls">
         <datalist id="latex_packages">
           <option value="amsmath">amsmath</option>
           <option value="amssymb">amssymb</option>
           <option value="bbold">bbold</option>
           <option value="cmll">cmll</option>
           <option value="dsfont">dsfont</option>
           <option value="esint">esint</option>
           <option value="gensymb">gensymb</option>
           <option value="latexsym">latexsym</option>
           <option value="marvosym">marvosym</option>
           <option value="mathdots">mathdots</option>
           <option value="mathrsfs">mathrsfs</option>
           <option value="skull">skull</option>
           <option value="stmaryrd">stmaryrd</option>
           <option value="textcomp">textcomp</option>
           <option value="tipa">tipa</option>
           <option value="upgreek">upgreek</option>
           <option value="wasysym">wasysym</option>
         </datalist>
         <input type="text" class="form-control" placeholder="amsmath" name="packages" id="packages" list="latex_packages"/>
       </div>
       <p class="help-block">Separate packages by spaces.</p>
     </div> -->
     <button type="submit" class="btn btn-success">Submit</button>
   </form>
{% endblock %}